# Día 2: Estructuras de Datos e Introducción a pandas

**Introducción a Python para ML** | EAE Business School | 3 febrero 2026

En este notebook vamos a:
1. Practicar con listas y diccionarios
2. Introducir pandas y DataFrames
3. Cargar e inspeccionar datos reales de viviendas en Barcelona
4. Filtrar y seleccionar datos

## Parte 1: Listas y Diccionarios

Antes de trabajar con pandas, vamos a practicar las estructuras de datos básicas de Python.

### Ejercicio 1.1: Trabajar con Listas

Cread una lista con los precios de 5 propiedades y calculad el precio medio.

In [1]:
# Crear lista de precios
precios = [250000, 320000, 180000, 450000, 290000]

# Calcular precio medio
precio_medio = sum(precios) / len(precios)
print(f"Precio medio: {precio_medio:.0f}€")

Precio medio: 298000€

**Observad**: 
- `sum()` suma todos los elementos de la lista
- `len()` devuelve el número de elementos
- El precio medio es una métrica básica pero muy útil

### Ejercicio 1.2: Filtrar Propiedades Caras

De la lista anterior, queremos solo las propiedades que cuestan más de 300.000€.

**Forma 1: Con bucle for**

In [2]:
# Filtrar con bucle for
precios_altos = []
for precio in precios:
    if precio > 300000:
        precios_altos.append(precio)

print(f"Propiedades caras: {precios_altos}")

Propiedades caras: [320000, 450000]

**Forma 2: Con list comprehension (más pythonica)**

In [3]:
# Filtrar con list comprehension
precios_altos = [precio for precio in precios if precio > 300000]

print(f"Propiedades caras: {precios_altos}")

Propiedades caras: [320000, 450000]

**Nota pedagógica**: Las list comprehensions son más concisas y rápidas. Formato:

```python
[expresion for elemento in lista if condicion]
```

### Ejercicio 1.3: Diccionarios para Representar Propiedades

Los diccionarios son perfectos para representar un registro con varios campos.

In [4]:
# Crear diccionario para una propiedad
propiedad_1 = {
    "barrio": "Eixample",
    "tipo": "Piso",
    "precio": 350000,
    "habitaciones": 3,
    "metros": 85,
    "terraza": True
}

# Acceder a información
print(f"Propiedad en {propiedad_1['barrio']}")
print(f"Precio: {propiedad_1['precio']}€")
print(f"Precio por m²: {propiedad_1['precio'] / propiedad_1['metros']:.0f}€/m²")

Propiedad en Eixample
Precio: 350000€
Precio por m²: 4118€/m²

### Ejercicio 1.4: Lista de Diccionarios

Estructura muy común: cada registro es un diccionario, y tenemos una lista de registros.

In [5]:
# Lista de propiedades
propiedades = [
    {"barrio": "Eixample", "precio": 350000, "metros": 85},
    {"barrio": "Gràcia", "precio": 420000, "metros": 95},
    {"barrio": "Sants", "precio": 280000, "metros": 70},
    {"barrio": "Ciutat Vella", "precio": 310000, "metros": 65},
    {"barrio": "Eixample", "precio": 390000, "metros": 90}
]

# Calcular precio medio por m²
precios_m2 = [prop["precio"] / prop["metros"] for prop in propiedades]
precio_m2_medio = sum(precios_m2) / len(precios_m2)

print(f"Precio medio por m²: {precio_m2_medio:.0f}€/m²")

Precio medio por m²: 4328€/m²

### Ejercicio 1.5: Filtrar Propiedades en Eixample

Ahora vosotros: filtrad las propiedades que están en "Eixample"

In [6]:
# EJERCICIO: Filtrar propiedades en Eixample
# Vuestra solución aquí

In [7]:
# SOLUCIÓN
propiedades_eixample = [prop for prop in propiedades if prop["barrio"] == "Eixample"]

print(f"Propiedades en Eixample: {len(propiedades_eixample)}")
for prop in propiedades_eixample:
    print(f"  - {prop['precio']}€, {prop['metros']}m²")

Propiedades en Eixample: 2
  - 350000€, 85m²
  - 390000€, 90m²

**Reflexión**: Ya veis que manipular listas de diccionarios funciona, pero es tedioso. **pandas hace todo esto mucho más fácil y rápido**.

## Parte 2: Introducción a pandas

pandas es la librería estándar para trabajar con datos tabulares en Python.

In [8]:
# Importar pandas (convención: alias 'pd')
import pandas as pd

print(f"pandas versión: {pd.__version__}")

pandas versión: 3.0.0

### Crear un DataFrame desde un Diccionario

Podemos convertir nuestra lista de diccionarios en un DataFrame.

In [9]:
# Convertir lista de diccionarios a DataFrame
df_propiedades = pd.DataFrame(propiedades)

# Mostrar DataFrame
df_propiedades

         barrio  precio  metros
0      Eixample  350000      85
1        Gràcia  420000      95
2         Sants  280000      70
3  Ciutat Vella  310000      65
4      Eixample  390000      90

**Observad**:
- El DataFrame muestra los datos en formato tabla
- La primera columna (sin nombre) es el **índice** (0, 1, 2, ...)
- Cada columna corresponde a una clave del diccionario

### Operaciones Básicas con DataFrames

Ahora podemos hacer operaciones mucho más fácilmente:

In [10]:
# Calcular precio medio (¡mucho más simple!)
precio_medio = df_propiedades["precio"].mean()
print(f"Precio medio: {precio_medio:.0f}€")

# Filtrar propiedades en Eixample (¡en una línea!)
eixample = df_propiedades[df_propiedades["barrio"] == "Eixample"]
print(f"\nPropiedades en Eixample:")
print(eixample)

Precio medio: 350000€

Propiedades en Eixample:
     barrio  precio  metros
0  Eixample  350000      85
4  Eixample  390000      90

**Comparad con el código anterior**: ¡mucho más simple y legible!

## Parte 3: Cargar Datos Reales de Barcelona

Ahora vamos a trabajar con un dataset real de viviendas en Barcelona.

In [13]:
# Cargar datos desde URL (funciona en Google Colab)
url = "https://raw.githubusercontent.com/ber2/eae-python/main/data/Houses_Barcelona_samp.csv"
df = pd.read_csv(url)

print("✓ Datos cargados correctamente")

✓ Datos cargados correctamente

### Inspección Inicial: head() y tail()

**Siempre** empezad inspeccionando vuestros datos.

In [14]:
# Primeras 5 filas
df.head()

,id,reference,creation,link,neighborhood,type,newbuilding,price,price_reduction,rooms,bathrooms,sqrmts,floor,elevator,terrace,heating,balcony,airconditioning,parking,swimmingpool
0,12638,164059538,2022-09-06,https://www.fotocasa.es/es/comprar/vivienda/ba...,Ciutat Vella,Piso,Used,NaN,NaN,2.0,1.0,102.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
1,9210,162503136,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Ciutat Vella,Piso,Used,425000.0,NaN,2.0,2.0,90.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
2,10207,163742174,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Ciutat Vella,Piso,Used,175000.0,NaN,1.0,1.0,40.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
3,21736,164801494,2022-09-16,https://www.fotocasa.es/es/comprar/vivienda/ba...,Gràcia,Piso,Used,320000.0,NaN,3.0,1.0,80.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
4,2889,161972530,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Horta - Guinardó,Piso,Used,227000.0,10000.0,3.0,1.0,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Últimas 5 filas
df.tail()

,id,reference,creation,link,neighborhood,type,newbuilding,price,price_reduction,rooms,bathrooms,sqrmts,floor,elevator,terrace,heating,balcony,airconditioning,parking,swimmingpool
995,4299,164224272,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Sarrià - Sant Gervasi,Ático,Used,1350000.0,NaN,2.0,2.0,168.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
996,39480,165124711,2022-10-28,https://www.fotocasa.es/es/comprar/vivienda/ba...,Sants - Montjuïc,Planta baja,Used,199000.0,NaN,3.0,NaN,67.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
997,22835,164823443,2022-09-16,https://www.fotocasa.es/es/comprar/vivienda/ba...,Sarrià - Sant Gervasi,Piso,Used,795000.0,NaN,4.0,3.0,136.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
998,38466,165238659,2022-10-28,https://www.fotocasa.es/es/comprar/vivienda/ba...,Horta - Guinardó,Piso,Used,318000.0,NaN,2.0,1.0,59.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
999,34104,164867819,2022-10-03,https://www.fotocasa.es/es/comprar/vivienda/ba...,Sant Martí,Piso,Used,276000.0,14000.0,4.0,1.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Forma del DataFrame (filas, columnas)
print(f"Dimensiones: {df.shape}")
print(f"Tenemos {df.shape[0]} propiedades y {df.shape[1]} columnas")

Dimensiones: (1000, 20)
Tenemos 1000 propiedades y 20 columnas

### Información del DataFrame: info()

`info()` nos da un resumen completo del dataset.

In [17]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   reference        1000 non-null   int64
 2   creation         1000 non-null   str
 3   link             1000 non-null   str
 4   neighborhood     1000 non-null   str
 5   type             1000 non-null   str
 6   newbuilding      1000 non-null   str
 7   price            998 non-null    float64
 8   price_reduction  209 non-null    float64
 9   rooms            987 non-null    float64
 10  bathrooms        963 non-null    float64
 11  sqrmts           998 non-null    float64
 12  floor            754 non-null    float64
 13  elevator         652 non-null    float64
 14  terrace          150 non-null    float64
 15  heating          101 non-null    float64
 16  balcony          140 non-null    float64
 17  airconditioning  34 non-null     float64
 18  parking          17 non-null     float64
 19  swimmingpool     11 non-null     float64
dtypes: float64(13), int64(2), str(5)
memory usage: 156.4 KB

**¿Qué nos dice info()?**
- Número total de filas (entries)
- Número de columnas
- Tipo de datos de cada columna (`int64`, `float64`, `object`)
- Valores no nulos (si < total entries → hay valores faltantes)
- Uso de memoria

### Estadísticas Descriptivas: describe()

`describe()` calcula estadísticas para columnas numéricas.

In [18]:
df.describe()

,id,reference,price,price_reduction,rooms,bathrooms,sqrmts,floor,elevator,terrace,heating,balcony,airconditioning,parking,swimmingpool
count,1000.000000,1.000000e+03,9.980000e+02,209.000000,987.000000,963.000000,998.000000,754.000000,652.0,150.0,101.0,140.0,34.0,17.0,11.0
mean,17533.106000,1.635883e+08,4.486400e+05,33911.196172,2.894630,1.542056,99.253507,3.190981,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,13682.950217,6.748441e+06,4.484989e+05,41674.218268,1.100913,0.796984,66.827229,2.775940,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,31.000000,1.976108e+07,3.900000e+04,4000.000000,1.000000,1.000000,13.000000,-2.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,5589.750000,1.636000e+08,2.100000e+05,10000.000000,2.000000,1.000000,65.000000,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,11222.000000,1.643835e+08,3.000000e+05,20000.000000,3.000000,1.000000,79.000000,2.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,33981.000000,1.648475e+08,4.972500e+05,40000.000000,3.000000,2.000000,108.750000,4.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,39498.000000,1.653572e+08,3.995000e+06,300000.000000,14.000000,6.000000,625.000000,15.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0

**Análisis**:
- `count`: Número de valores no nulos (¿hay diferencias entre columnas?)
- `mean`: Media aritmética
- `std`: Desviación estándar (dispersión)
- `min`, `max`: Valores mínimo y máximo (¿detectáis valores raros?)
- `25%`, `50%`, `75%`: Cuartiles (distribución de datos)

**Pregunta**: ¿Veis algún valor que parezca incorrecto? (ej: 50 habitaciones, 5000 m²)

### Explorar Nombres de Columnas

In [19]:
# Ver nombres de columnas
print("Columnas disponibles:")
print(df.columns.tolist())

Columnas disponibles:
['id', 'reference', 'creation', 'link', 'neighborhood', 'type', 'newbuilding', 'price', 'price_reduction', 'rooms', 'bathrooms', 'sqrmts', 'floor', 'elevator', 'terrace', 'heating', 'balcony', 'airconditioning', 'parking', 'swimmingpool']

## Parte 4: Selección y Filtrado de Datos

Ahora vamos a practicar cómo acceder a partes específicas del DataFrame.

### Seleccionar Columnas

In [20]:
# Una sola columna (devuelve Serie)
precios = df["price"]
print(f"Tipo: {type(precios)}")
print(f"\nPrimeros 5 precios:")
print(precios.head())

Tipo: <class 'pandas.Series'>

Primeros 5 precios:
0         NaN
1    425000.0
2    175000.0
3    320000.0
4    227000.0
Name: price, dtype: float64

In [21]:
# Múltiples columnas (devuelve DataFrame)
subset = df[["neighborhood", "type", "price", "rooms", "sqrmts"]]
print(f"Tipo: {type(subset)}")
print(f"\nPrimeras 5 filas:")
subset.head()

Tipo: <class 'pandas.DataFrame'>

Primeras 5 filas:

       neighborhood  type     price  rooms  sqrmts
0      Ciutat Vella  Piso       NaN    2.0   102.0
1      Ciutat Vella  Piso  425000.0    2.0    90.0
2      Ciutat Vella  Piso  175000.0    1.0    40.0
3            Gràcia  Piso  320000.0    3.0    80.0
4  Horta - Guinardó  Piso  227000.0    3.0    70.0

### Filtrar Filas: Condiciones Booleanas

Paso a paso:

In [22]:
# Paso 1: Crear condición booleana
condicion = df["price"] > 400000
print(f"Tipo: {type(condicion)}")
print(f"\nPrimeros 10 valores:")
print(condicion.head(10))

Tipo: <class 'pandas.Series'>

Primeros 10 valores:
0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: price, dtype: bool

In [23]:
# Paso 2: Aplicar filtro
propiedades_caras = df[condicion]
print(f"Propiedades caras (>400k): {len(propiedades_caras)}")
propiedades_caras.head()

Propiedades caras (>400k): 336

,id,reference,creation,link,neighborhood,type,newbuilding,price,price_reduction,rooms,bathrooms,sqrmts,floor,elevator,terrace,heating,balcony,airconditioning,parking,swimmingpool
1,9210,162503136,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Ciutat Vella,Piso,Used,425000.0,NaN,2.0,2.0,90.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
11,33895,164922649,2022-10-03,https://www.fotocasa.es/es/comprar/vivienda/ba...,Sants - Montjuïc,Ático,Used,440000.0,9000.0,2.0,2.0,114.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
15,9361,160358275,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Eixample,Loft,Used,895000.0,205000.0,2.0,2.0,290.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
21,36547,165035083,2022-10-07,https://www.fotocasa.es/es/comprar/vivienda/ba...,Sarrià - Sant Gervasi,Piso,Used,790000.0,NaN,4.0,3.0,157.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
22,7990,163156874,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Les Corts,Piso,Used,464000.0,NaN,1.0,1.0,50.0,9.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Todo en una línea (más común)
propiedades_caras = df[df["price"] > 400000]
print(f"Propiedades caras: {len(propiedades_caras)}")

Propiedades caras: 336

### Múltiples Condiciones: & (and) y | (or)

**IMPORTANTE**: Usar `&` y `|`, NO `and`/`or`. Paréntesis obligatorios.

In [25]:
# Propiedades caras EN Eixample
caras_eixample = df[(df["price"] > 400000) & (df["neighborhood"] == "Eixample")]
print(f"Propiedades caras en Eixample: {len(caras_eixample)}")
caras_eixample.head()

Propiedades caras en Eixample: 108

,id,reference,creation,link,neighborhood,type,newbuilding,price,price_reduction,rooms,bathrooms,sqrmts,floor,elevator,terrace,heating,balcony,airconditioning,parking,swimmingpool
15,9361,160358275,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Eixample,Loft,Used,895000.0,205000.0,2.0,2.0,290.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
28,6217,164325551,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Eixample,Piso,Used,695000.0,NaN,5.0,2.0,144.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
29,34939,165010672,2022-10-03,https://www.fotocasa.es/es/comprar/vivienda/ba...,Eixample,Piso,Used,499000.0,NaN,2.0,2.0,78.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
32,37429,161839083,2022-10-28,https://www.fotocasa.es/es/comprar/vivienda/ba...,Eixample,Piso,Used,413000.0,17000.0,4.0,2.0,101.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
48,10276,161946232,2022-09-01,https://www.fotocasa.es/es/comprar/vivienda/ba...,Eixample,Piso,Used,550000.0,NaN,4.0,2.0,115.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Propiedades baratas O en Gràcia
baratas_o_gracia = df[(df["price"] < 200000) | (df["neighborhood"] == "Gràcia")]
print(f"Propiedades baratas o en Gràcia: {len(baratas_o_gracia)}")

Propiedades baratas o en Gràcia: 290

### Ejercicio 4.1: Filtrar Pisos de 3 Habitaciones

Filtrad las propiedades que son de tipo "Piso" y tienen exactamente 3 habitaciones.

In [27]:
# EJERCICIO: Filtrar pisos de 3 habitaciones
# Vuestra solución aquí

In [28]:
# SOLUCIÓN
pisos_3hab = df[(df["type"] == "Piso") & (df["rooms"] == 3)]
print(f"Pisos de 3 habitaciones: {len(pisos_3hab)}")
print(f"Precio medio: {pisos_3hab['price'].mean():.0f}€")

Pisos de 3 habitaciones: 402
Precio medio: 349223€

## Parte 5: Indexación con loc e iloc

`loc` y `iloc` permiten selecciones más precisas.

### loc: Acceso por Etiquetas

In [29]:
# Seleccionar fila 0, columna "price"
precio_fila_0 = df.loc[0, "price"]
print(f"Precio en fila 0: {precio_fila_0}€")

Precio en fila 0: nan€

In [30]:
# Seleccionar filas 0-4, columnas específicas
subset = df.loc[0:4, ["neighborhood", "type", "price"]]
subset

       neighborhood  type     price
0      Ciutat Vella  Piso       NaN
1      Ciutat Vella  Piso  425000.0
2      Ciutat Vella  Piso  175000.0
3            Gràcia  Piso  320000.0
4  Horta - Guinardó  Piso  227000.0

In [31]:
# Combinar con filtro: barrios de propiedades caras
barrios_caros = df.loc[df["price"] > 400000, "neighborhood"]
print(f"Barrios con propiedades >400k:")
print(barrios_caros.value_counts())

Barrios con propiedades >400k:
neighborhood
Eixample                 108
Sarrià - Sant Gervasi     60
Ciutat Vella              46
Sant Martí                37
Les Corts                 25
Gràcia                    24
Sants - Montjuïc          16
Horta - Guinardó          14
Sant Andreu                6
Name: count, dtype: int64

### iloc: Acceso por Posición

In [32]:
# Primera fila, cuarta columna
valor = df.iloc[0, 3]
print(f"Valor en (0, 3): {valor}")

Valor en (0, 3): https://www.fotocasa.es/es/comprar/vivienda/barcelona-capital/calefaccion-terraza-amueblado/164059538/d?from=list

In [33]:
# Primeras 5 filas, primeras 3 columnas
subset = df.iloc[0:5, 0:3]
subset

      id  reference    creation
0  12638  164059538  2022-09-06
1   9210  162503136  2022-09-01
2  10207  163742174  2022-09-01
3  21736  164801494  2022-09-16
4   2889  161972530  2022-09-01

In [34]:
# Todas las filas, última columna
ultima_columna = df.iloc[:, -1]
print(f"Última columna: {df.columns[-1]}")
print(ultima_columna.head())

Última columna: swimmingpool
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: swimmingpool, dtype: float64

### Ejercicio 5.1: Combinar loc e iloc

Usad `loc` para seleccionar las columnas "neighborhood", "price" y "sqrmts" de las primeras 10 filas.

In [35]:
# EJERCICIO: Primeras 10 filas, columnas específicas
# Vuestra solución aquí

In [36]:
# SOLUCIÓN
subset = df.loc[0:9, ["neighborhood", "price", "sqrmts"]]
subset

       neighborhood     price  sqrmts
0      Ciutat Vella       NaN   102.0
1      Ciutat Vella  425000.0    90.0
2      Ciutat Vella  175000.0    40.0
3            Gràcia  320000.0    80.0
4  Horta - Guinardó  227000.0    70.0
5         Les Corts  360000.0    94.0
6        Nou Barris  139000.0    70.0
7      Ciutat Vella  354000.0    57.0
8  Horta - Guinardó  198000.0    72.0
9        Nou Barris   93000.0    33.0

## Parte 6: Análisis Exploratorio

Vamos a combinar todo lo aprendido para responder preguntas de negocio.

### Pregunta 1: ¿Cuál es el precio medio por barrio?

Usaremos `groupby()` - lo veremos en detalle mañana, pero es un adelanto.

In [37]:
# Precio medio por barrio
precio_por_barrio = df.groupby("neighborhood")["price"].mean().sort_values(ascending=False)
print("Precio medio por barrio:")
print(precio_por_barrio)

Precio medio por barrio:
neighborhood
Sarrià - Sant Gervasi    1.036809e+06
Les Corts                7.960966e+05
Eixample                 6.137838e+05
Gràcia                   4.255150e+05
Ciutat Vella             4.167499e+05
Sant Martí               3.926134e+05
Horta - Guinardó         2.904161e+05
Sant Andreu              2.844299e+05
Sants - Montjuïc         2.725105e+05
Nou Barris               1.703633e+05
Name: price, dtype: float64

### Pregunta 2: ¿Cuántas propiedades hay de cada tipo?

In [38]:
# Contar tipos de propiedad
tipos = df["type"].value_counts()
print("Distribución de tipos:")
print(tipos)

Distribución de tipos:
type
Piso             826
Ático             63
Apartamento       32
Planta baja       21
Casa o chalet     20
Dúplex            18
Loft               8
Casa adosada       6
Estudio            5
Finca rústica      1
Name: count, dtype: int64

### Pregunta 3: ¿Qué porcentaje de propiedades tiene terraza?

In [39]:
# Contar valores de terraza
terrazas = df["terrace"].value_counts()
print("Distribución de terraza:")
print(terrazas)

# Calcular porcentaje (excluyendo NA)
total_con_info = terrazas.sum()
con_terraza = terrazas.get(1, 0)
porcentaje = (con_terraza / total_con_info) * 100
print(f"\nPorcentaje con terraza: {porcentaje:.1f}%")

Distribución de terraza:
terrace
1.0    150
Name: count, dtype: int64

Porcentaje con terraza: 100.0%

## Resumen del Notebook

**Lo que hemos practicado**:

✅ Listas y diccionarios en Python  
✅ Crear DataFrames con pandas  
✅ Cargar datos desde CSV  
✅ Inspeccionar datos: `head()`, `info()`, `describe()`  
✅ Seleccionar columnas y filtrar filas  
✅ Indexación con `loc` e `iloc`  
✅ Análisis exploratorio básico  

**Próximos pasos**: Mañana aprenderemos a limpiar datos y crear visualizaciones interactivas con Plotly.

## Ejercicios Adicionales (Opcional)

Si termináis pronto, intentad resolver estos ejercicios:

### Ejercicio Extra 1: Propiedades con Ascensor

¿Cuántas propiedades tienen ascensor? ¿Cuál es el precio medio con y sin ascensor?

In [ ]:
# Vuestra solución aquí

### Ejercicio Extra 2: Análisis por Piso

¿En qué pisos (floor) están las propiedades más caras? Calculad el precio medio por piso.

In [ ]:
# Vuestra solución aquí

### Ejercicio Extra 3: Ratio Precio/Metros

Cread una nueva columna `price_per_sqm` con el precio por metro cuadrado. ¿Cuál es el barrio con el precio/m² más alto?

In [ ]:
# Vuestra solución aquí